@page "/camera"
@using HttpServer.Data
@using Protocol
@inject DeviceClientService DeviceClientService

<PageTitle>Camera</PageTitle>

@*<h1>Camera</h1>*@

<button class="btn btn-primary" @onclick="GetImage">Refresh</button>
<button class="btn btn-primary" @onclick="Turn1">Position1</button>
<button class="btn btn-primary" @onclick="Turn2">Position2</button>

<img src="data:image/jpeg;base64,@Convert.ToBase64String(@imageData)" />

<p role="status">Response: @responseText</p>

@code {
    private string responseText = "";
    private byte[] imageData = new byte[0];

    void GetImage()
    {
        responseText = DeviceClientService.SendStringCommand("camera", "get_image");
        imageData = Convert.FromBase64String(responseText);
    }

    void Turn1()
    {
        responseText = DeviceClientService.SendStringCommand("camera", "turn 60 60");
    }

    void Turn2()
    {
        responseText = DeviceClientService.SendStringCommand("camera", "turn 90 60");
    }
}
